{erl_opts, [{parse_transform, lager_transform}]}.

%% Subdirectories?
{sub_dirs, ["backend", "frontend"]}.

{deps, [
  {cowboy, ".*", {git, "https://github.com/ninenines/cowboy", {branch, master}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx", {branch, master}}},
  {lager, ".*", {git, "https://github.com/basho/lager", {branch, master}}}
]}.
