{port_env, [
  {"CFLAGS", "$CFLAGS -O2"},
  {"CXXFLAGS", "$CXXFLAGS -O2 -std=c++11 -g0"},
  {"LDFLAGS", "$LDFLAGS -lxdo"},
  {"EXE_LINK_TEMPLATE", "$CXX $PORT_IN_FILES $LDFLAGS $EXE_LDFLAGS -o $PORT_OUT_FILE"}
]}.

{port_specs, [
  {"priv/xcomm", [
    "c_src/epapi_base.cpp",
    "c_src/epapi_msg.cpp",
    "c_src/epapi_pkt.cpp",
    "c_src/epapi_term.cpp",
    "c_src/xcomm.cpp"
  ]}
]}.
